/**
 * @file
 * CSS for Field Example.
 */

.field-multiple-drag {
  display: none;
}

.field-type-ranking-list .form-select {
  width: 100px;
}

.field-type-ranking-list td {
  background: white !important;
}

.field-type-ranking-list .tabledrag-toggle-weight {
  display: none;
}